// -----------------------------------------------------------------------------
// Class & Placeholders helpers
// -----------------------------------------------------------------------------

/**
 * Main container
 */
.container {
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
}

%clear {
  @include clearfix($extend: false);
}
