// ----------------------------------------------------------------------------
// Sass Global Variables
// ----------------------------------------------------------------------------

/// Regular font family
/// @type List
$base-font-stack: ('Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif) !default;

/// Code font family (monospace)
/// @type List
$code-font-stack: ('Droid Sans Mono', 'DejaVu Sans Mono', 'Courier New', 'Monaco', monospace) !default;



/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-width: 1200px !default;

/// Container's horizontal padding
/// Specially useful for small screens
/// @type Length
$horizontal-padding: 20px !default;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;



/// Brand colors
/// @type Color
$brand-primary: #3297df !default;
$brand-secondary: #e0effd !default;

/// Basic colors
/// @type Color
$white: #fff !default;
$black: #000 !default;

/// Message colors
/// @type Color
$success-color: #4caf50 !default;
$info-color: #5bc0de !default;
$warning-color: #f0ad4e !default;
$error-color: #e74c3c !default;
