// ----------------------------------------------------------------------------
// Sass Global Variables
// ----------------------------------------------------------------------------

/// Sans serif font family
/// @type List
$font-family-sans-serif: ('Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif) !default;

/// Serif font family
/// @type List
$font-family-serif: ('Cambria', 'Times New Roman', 'Times', serif) !default;

/// Monospace font family
/// @type List
$font-family-monospace: ('Droid Sans Mono', 'DejaVu Sans Mono', 'Courier New', 'Monaco', 'Consolas', monospace) !default;

/// Base font family
/// @type List
$font-family-base: $font-family-sans-serif !default;



/// Base font size
/// @type Number
$font-size-base: 1rem !default;

/// Base line height.
/// Equals to 24px while `$font-size-base` is 16px
/// @type Number
$line-height-base: 1.5 !default;



/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-width: 1200px !default;

/// Container's horizontal padding
/// Specially useful for small screens
/// @type Length
$horizontal-padding: 20px !default;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;



/// Brand colors
/// @type Color
$brand-primary: #3297df !default;
$brand-secondary: #e0effd !default;

/// Basic colors
/// @type Color
$white: #fff !default;
$black: #000 !default;
$gray-light: #818a91 !default;
$gray-medium: #55595c !default;
$gray-dark: #373a3c !default;

/// Contextual colors
/// @type Color
$success-color: #4caf50 !default;
$info-color: #5bc0de !default;
$warning-color: #f0ad4e !default;
$error-color: #e74c3c !default;



/// Body background
/// @type Color
$body-bg: #fff !default;
/// Body color
/// @type Color
$body-color: $black !default;



/// Link color
/// @type Color
$link-color: $brand-primary !default;
/// Link decoration
/// @type Keyword
$link-decoration: none !default;
/// Link event color
/// @type Color
$link-event-color: darken($link-color, 15%) !default;
/// Link event decoration
/// @type Keyword
$link-event-decoration: underline !default;
