// -----------------------------------------------------------------------------
// CSS helper classes
// -----------------------------------------------------------------------------

/**
 * Gives a proper height to the container when its children are floated
 */
.clearfix {
  @include clearfix();
}

/**
 * Main container
 */
.container {
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
}
